@charset "utf-8";

/* ============================================================
 foundation
 ============================================================ */

/* --- base --- */
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
}
img {
  vertical-align: bottom;
}
a:hover,
button:hover {
  opacity: 0.7;
}

/* --- reset --- */
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}


/* ============================================================
 layout
 ============================================================ */

/* --- header --- */
.l-header {
  padding: 43px 0 39px;
  width: 100%;
  position: relative;

}
@media (min-width: 768px) {
  .l-header {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .l-header {
    padding: 66px 0 67px;
  }
}

/* --- footer --- */
.l-footer {
  padding: 20px 0 16px;
  height: 150px;
}
@media (min-width: 768px) {
  .l-footer {
    padding: 35px 0 24px;
  }
}
@media (min-width: 1200px) {
  .l-footer {
    padding: 46px 0 27px;
  }
}

/* --- menu --- */
.l-menu {
  padding: 178px 0 178px 46px;
  width: 32.8rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -36.7rem;
  z-index: 10;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .l-menu {
    width: 36.7rem;
  }
}
@media (min-width: 1200px) {
  .l-menu {
    padding: 84px 0 84px 46px;
    width: 100%;
    position: static;
    height: auto;
  }
}
.l-menu.is-open {
  right: 0;
}

body.is-open {
  position: fixed;
}

/* --- front page --- */
@media (min-width: 1200px) {
  .l-container {
    display: flex;
  }
  .l-container .l-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .l-container .l-body .l-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .l-container .l-sideBar {
    width: 20%;
    min-width: 30rem;
    max-width: 36.7rem;
  }
}


/* ============================================================
 object / component
 ============================================================ */

/* --- input --- */
.c-input {
  border: 1px solid #707070;
  border-radius: 10px;
}

/* --- btn --- */
.c-btn {
  border: 1px solid #707070;
  border-radius: 10px;
  background: linear-gradient(to left bottom, #F2EDE9, #DED8D3);
}
.c-btn--white {
  border-radius: 25px;
  background-color: #fff;
}
.c-btn--line {
  margin: 0;
  align-self: flex-end;
  color: #3C2B1C;
  font-weight: 700;
  line-height: 2;
  text-decoration: underline;
}

/* --- mv --- */
.c-mv {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

/* --- mask --- */
.c-mask::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* --- list --- */
.c-list {
  display: flex;
  flex-wrap: wrap;
}
.c-list.-cat {
  white-space: pre-wrap;
}
.c-list.-cat li:has(+ li)::after {
  content: ", ";
}
.c-list.-tag li {
  background-color: #D9D9D9;
}

/* --- page list --- */
.c-pageList {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #707070;
  display: inline-block;
  line-height: 3.5rem;
  text-align: center;
}
.c-pageList:hover {
  background-color: #3C2B1C;
  color: #fff;
}

/* --- wrapper --- */
.c-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 450px;
}
@media (min-width: 768px) {
  .c-wrapper {
    width: 90.5%;
    max-width: 950px;
  }
}
.c-title__wrapper {
  margin: 0 auto;
  width: 86%;
  max-width: 450px;
}
@media (min-width: 768px) {
  .c-title__wrapper {
    width: 79%;
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  .c-title__wrapper {
    margin: 0 86px;
    width: 100%;
    max-width: 1366px;
  }
}
@media (min-width: 1920px) {
  .c-title__wrapper {
    margin: 0 auto;
  }
}

/* ============================================================
 object / project
 ============================================================ */

/* --- header --- */
.p-header {
  background: #FFF7EF;
  color: #707070;
}
.p-header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .p-header__inner {
    margin: 0 31px 0 65px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1920px) {
  .p-header__inner {
    margin: 0 auto;
    width: 1423px;
  }
}
.p-header__title {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.17;
}
@media (min-width: 1200px) {
  .p-header__title {
    font-size: clamp(4rem, 3.3vw, 6.4rem);
  }
}
.p-header__search {
  margin-top: 40px;
  width: 86%;
  max-width: 546px;
}
@media (min-width: 768px) {
  .p-header__search {
    margin-top: 38px;
  }
}
@media (min-width: 1200px) {
  .p-header__search {
    margin-top: 0;
  }
}
.p-header__menuBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}
@media (min-width: 768px) {
  .p-header__menuBtn {
    top: 20px;
    right: 25px;
    font-size: 3.4rem;
  }
}
@media (min-width: 1200px) {
  .p-header__menuBtn {
    display: none;
  }
}

/* --- search box --- */
.p-searchBox {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.p-searchBox::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/header_searchBox.svg);
  position: absolute;
  top: calc( 50% - 24px / 2 );   /* 上下中央に配置 */
  left: 10px;
}
.p-searchBox__input {
  padding-left: 44px;
  width: 3rem;
  height: 4.6rem;
  background: #fff;
  flex-grow: 1;
}
.p-searchBox__btn {
  padding: 0 28px;
  font-weight: 700;
  color: inherit;
  line-height: 4.4rem;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .p-searchBox__btn {
    padding: 0 51px;
  }
}

/* --- front --- */
.p-main {
  background-color: #FFFDFA;
}
.p-main__mv {
  height: 285px;
  background-image: url(../images/front_mv.jpg);
}
@media (min-width: 1200px) {
  .p-main__mv {
    height: 27.5vw;
    max-height: 530px;
  }
}
.p-main__mv h1 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .p-main__mv h1 {
    font-size: 4rem;
  }
}

.p-main .p-toc {
  padding: 20px 0 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .p-main .p-toc {
    padding: 40px 0;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: min(4.7%, 50px);
  }
}
@media (min-width: 1200px) {
  .p-main .p-toc {
    padding-top: min(7%, 120px);
    padding-bottom: min(8%, 130px);
    gap: min(5%, 80px);
  }
}
@media (min-width: 1200px) {
  .p-main .p-toc__wrapper {
    width: 85.5%;
    max-width: 1330px;
  }
}
.p-toc__link {
  display: inline-block;
  width: 100%;
}

/* --- content --- */
.p-content {
  padding: 13px 0 16px;
  width: 100%;
  min-height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .p-content {
    padding-top: 16px;
    min-height: 681px;
  }
}
@media (min-width: 1200px) {
  .p-content {
    padding: 28px 0 20px;
    min-height: 800px;
  }
}
@media (min-width: 1500px) {
  .p-content {
    min-height: 1197px;
  }
}
.p-content h2 {
  padding-left: 13px;
  position: relative;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.1rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.17;
}
@media (min-width: 768px) {
  .p-content h2 {
    font-size: 4.4rem;
  }
}
@media (min-width: 1200px) {
  .p-content h2 {
    padding-left: 22px;
    font-size: min(4vw, 8rem);
  }
}
.p-content h2::before {
  content: "";
  width: 34px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: -21.3px;
  left: 15px;
}
@media (min-width: 768px) {
  .p-content h2::before {
    width: 36px;
    bottom: -25.6px;
  }
}
@media (min-width: 1200px) {
  .p-content h2::before {
    width: 63px;
    bottom: -38.5px;
    left: 25.5px;
  }
}
.p-content dl {
  margin: 200px 16px 0;
}
@media (min-width: 1200px) {
  .p-content dl {
    margin: 250px 20px 0;
  }
}
.p-content__dl {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 1200px) {
  .p-content__dl {
    padding: 14px 20px;
  }
}
.p-content__dl:not(:first-child) {
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .p-content__dl:not(:first-child) {
    margin-top: 20px;
  }
}
.p-content__dl dt {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .p-content__dl dt {
    font-size: 2.4rem;
    line-height: 1;
  }
}
.p-content__dl dd {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .p-content__dl dd {
    margin-top: 16px;
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .p-content__dl dd {
    margin-top: 18px;
  }
}
.p-content.-takeOut {
  background: url(../images/front_toc-1.jpg) center/cover;
}
.p-content.-takeOut h2 {
  color: #EAEAEA;
}
.p-content.-eatIn {
  background: url(../images/front_toc-2.jpg) center/cover;
}

/* --- about --- */
.p-about {
  background: url(../images/front_about_map.jpg) center/cover;
  position: relative;
  flex-grow: 1;
}
.p-about::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p-about__bg {
  background-color: rgba(0, 0, 0, 0.28);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}
@media (min-width: 768px) {
  .p-about__bg {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .p-about__bg {
    width: 60%;
  }
}
.p-about__wrapper {
  width: calc(100% - 80px);
}
@media (min-width: 1200px) {
  .p-about__wrapper {
    margin-left: min(7%, 120px);
    width: 46%;
  }
}
.p-about__text {
  padding: 42px 0 57px;
  height: 100%;
  min-height: 691px;
  position: relative;
  color: #fff;
}
@media (min-width: 768px) {
  .p-about__text {
    padding-bottom: 40px;
    min-height: 415px;
  }
}
@media (min-width: 1200px) {
  .p-about__text {
    padding: 86px 0 75px;
    min-height: 649px;
  }
}
.p-about__text h2 {
  position: relative;
  font-size: 3rem;
}
@media (min-width: 1200px) {
  .p-about__text h2 {
    font-size: 3.6rem;
  }
}
.p-about__text h2::before {
  content: "";
  width: 75px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -15px;
  left: 0;
}
@media (min-width: 1200px) {
  .p-about__text h2::before {
    bottom: -50px;
  }
}
.p-about__text p {
  margin-top: 29px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.35;
}
@media (min-width: 1200px) {
  .p-about__text p {
    margin-top: 109px;
    font-size: 1.6rem;
  }
}

/* --- footer --- */
.p-footer {
  background: url(../images/footer_bg.png) repeat;
  color: #fff;
  text-align: center;
}
.p-footer__nav {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .p-footer__nav {
    font-size: 2rem;
  }
}
.p-footer__nav li {
  padding: 0 8px;
}
.p-footer__nav li + li {
  border-left: 2px solid #fff;
}
.p-footer small {
  margin-top: 74px;
  display: inline-block;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .p-footer small {
    margin-top: 49px;
  }
}
@media (min-width: 1200px) {
  .p-footer small {
    margin-top: 36px;
  }
}

/* --- sidebar menu --- */
.p-nav {
  background-color: #F2EDE9;
}
.p-nav__mask {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.p-menu {
  background-color: #F2EDE9;
  color: #707070;
  font-family: "m-plus-1m", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  transition: all 300ms 1ms ease-out;
}
@media (min-width: 1200px) {
  .p-menu {
    transition: unset;
  }
}
.p-menu__btn {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 8px;
  right: 11px;
}
@media (min-width: 768px) {
  .p-menu__btn {
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 1200px) {
  .p-menu__btn {
    display: none;
  }
}
.p-menu__btn::before, .p-menu__btn::after {
  content: "";
  width: 45px;
  height: 6px;
  background: #707070;
  display: block;
  position: absolute;
  top: calc(50% - 6px / 2);   /* 上下中央に配置 */
  left: 0;
}
.p-menu__btn::before {
  transform: rotate(45deg);
}
.p-menu__btn::after {
  transform: rotate(-45deg);
}
.p-menu h2 {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.17;
}
@media (min-width: 1200px) {
  .p-menu h2 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .p-menu .menu {
    margin-top: 90px;
  }
}
.p-menu .menu > li:not(:first-child) {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .p-menu .menu > li:not(:first-child) {
    margin-top: 48px;
  }
}
.p-menu .sub-menu {
  margin-top: 40px;
  padding-left: 20px;
  font-size: 2rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .p-menu .sub-menu {
    margin-top: 32px;
  }
}
.p-menu .sub-menu li:not(:first-child) {
  margin-top: 20px;
}

/* --- archive --- */
.p-archive {
  padding-bottom: 32px;
  background-color: #FFFDFA;
}
@media (min-width: 1200px) {
  .p-archive {
    padding-bottom: 64px;
  }
}
.p-archive__mv {
  height: 285px;
  background-image: url(../images/archive_mv.jpg);
  background-position: left;
  position: relative;
}
@media (min-width: 1200px) {
  .p-archive__mv {
    height: 239px;
    background-image: url(../images/archive_mv_pc.jpg);
    background-position: center;
  }
}
.p-archive__title {
  width: 79%;   /* 左右のmarginを11.5%に指定 */
  color: #fff;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .p-archive__title {
    width: 100%;
  }
}
.p-archive__title h1 {
  height: calc(3.6rem + ( 1.6rem * 1.5 ) + 15px);   /* spanも含めた高さに設定 h1 + span + margin  */
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  line-height: 1;
}
@media (min-width: 768px) {
  .p-archive__title h1 {
    height: auto;
    font-size: 6rem;
  }
}
.p-archive__title h1 span {
  display: inline-block;
  position: absolute;
  top: calc(3.6rem + 15px);   /* h1の下に配置 h1 + margin */
  left: 0;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .p-archive__title h1 span {
    top: 2.4rem;
    left: calc(17rem + 19px);   /* h1の右に配置 h1 + margin */
  }
}
@media (min-width: 1200px) {
  .p-archive__title h1 span {
    top: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .p-archive__wrapper {
    width: 87%;
    max-width: 1353px;
  }
}
.p-archive__main {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .p-archive__main {
    margin-top: 39px;
  }
}
@media (min-width: 1200px) {
  .p-archive__main {
    margin-top: 63px;
  }
}
.p-archive__main h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-archive__main h2 {
    font-size: 3.6rem;
  }
}
.p-archive__main p {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .p-archive__main p {
    margin-top: 20px;
  }
}

.p-archiveList {
  margin-top: 19px;
  width: 100%;
}
@media (min-width: 768px) {
  .p-archiveList {
    margin-top: 37px;
  }
}
@media (min-width: 1200px) {
  .p-archiveList {
    margin-top: 70px;
  }
}
/* 検索結果がない場合 */
.p-archiveList .p-archiveList__none {
  margin-top: 50px;
  font-size: 2rem;
}

/* --- card --- */
.p-card {
  width: 100%;
  background-color: #3C2B1C;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .p-card {
    flex-direction: row;
  }
}
.p-card:not(:first-child) {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .p-card:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .p-card__img {
    width: 50%;
    aspect-ratio: 3.7/3.5;
  }
}
@media (min-width: 1200px) {
  .p-card__img {
    aspect-ratio: auto;
  }
}
.p-card__img img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .p-card__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}
.p-card .p-caption {
  padding: 32.5px 17px 43.7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #fff;
}
@media (min-width: 768px) {
  .p-card .p-caption {
    padding: 31px 59px 40px 35px;
    width: 50%;
    gap: 45px;
  }
}
@media (min-width: 1500px) {
  .p-card .p-caption {
    padding: 56px 104px 60px 63px;
    gap: 60px;
  }
}
.p-card .p-caption ul {
  font-size: 1.2rem;
  color: #000000;
}
.p-card .p-caption__cat {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .p-card .p-caption__cat {
    margin-top: 8px;
  }
}
.p-card .p-caption__tag {
  margin-top: 8px;
  gap: 8px;
}
.p-card .p-caption__tag li {
  padding: 3px 23px 3px 19px;
  border-radius: 17px;
}
.p-card .p-caption__text {
  text-align: left;
}
.p-card .p-caption__text h3 {
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 1500px) {
  .p-card .p-caption__text h3 {
    font-size: 3.6rem;
  }
}
.p-card .p-caption__text h4 {
  margin-top: 21px;
  font-weight: 700;
}
@media (min-width: 1500px) {
  .p-card .p-caption__text h4 {
    margin-top: 44px;
    font-size: 2.4rem;
  }
}
.p-card .p-caption__text p {
  margin-top: 7px;
}
@media (min-width: 1500px) {
  .p-card .p-caption__text p {
    margin-top: 13px;
  }
}
.p-card .p-caption__btn {
  padding: 12px 42px;
  display: inline-block;
  color: #707070;
  font-weight: 700;
  line-height: 1;
}
@media (min-width: 1500px) {
  .p-card .p-caption__btn {
    padding: 20px 106px;
  }
}

/* --- pagination --- */
.p-pagination {
  margin: 62px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #707070;
}
@media (min-width: 768px) {
  .p-pagination {
    margin-top: 106px;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .p-pagination {
    margin-top: 150px;
  }
}

.p-pagination--this {
  background-color: #3C2B1C;
  color: #fff;
}
.p-pagination--this:hover {
  opacity: 1;
}
.p-pagination__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .p-pagination__link {
    width: 1.8rem;
    height: 3.5rem;
    font-size: 0;
  }
}
.p-pagination__link::before, .p-pagination__link::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  position: absolute;
  top: calc( 50% - 1.2rem / 2 );   /* 上下中央に配置 */
}
.p-pagination__link.-pre {
  margin-right: auto;
  padding-left: 25.5px;   /* << の余白 */
}
@media (min-width: 768px) {
  .p-pagination__link.-pre {
    margin-right: 0;
    padding: 0;
  }
}
.p-pagination__link.-pre::before, .p-pagination__link.-pre::after {
  transform: rotate(-135deg);
}
.p-pagination__link.-pre::before {
  left: 0;
}
.p-pagination__link.-pre::after {
  left: 8.5px;
}
.p-pagination__link.-next {
  margin-left: auto;
  padding-right: 25.5px;   /* >> の余白 */
}
@media (min-width: 768px) {
  .p-pagination__link.-next {
    margin-left: 0;
    padding: 0;
  }
}
.p-pagination__link.-next::before, .p-pagination__link.-next::after {
  transform: rotate(45deg);
}
.p-pagination__link.-next::before {
  right: 0;
}
.p-pagination__link.-next::after {
  right: 8.5px;
}
.p-pagination__pcList {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .p-pagination__pcList {
    display: inline-block;
  }
}

/* --- single --- */
.p-single {
  background-color: #FFFDFA;
}
.p-single__mv {
  height: 225px;
  position: relative;
}
@media (min-width: 768px) {
  .p-single__mv {
    height: min(60vw, 500px);
  }
}
.p-single__title {
  position: relative;
  color: #fff;
  font-size: 3.6rem;
}
@media (min-width: 768px) {
  .p-single__title {
    font-size: 6rem;
  }
}
.p-single__title--bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p-single__title--bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.p-singeTitle__wrapper {
  max-width: 1366px;
}

.p-article__wrapper {
  padding: 34px 0 69px;
  max-width: 1353px;
}
@media (min-width: 768px) {
  .p-article__wrapper {
    padding: 60px 0 149px;
    width: 86%;
  }
}
@media (min-width: 1200px) {
  .p-article__wrapper {
    padding: 63px 0 274px;
    width: 87%;
  }
}
.p-article h1 {
  margin-bottom: 30px;
  font-size: 3.6rem;
}
.p-article h2 {
  margin-bottom: 30px;
  font-size: 2.8rem;
}
.p-article h3 {
  margin-bottom: 30px;
  font-size: 2.4rem;
}
.p-article h4 {
  margin-bottom: 30px;
  font-size: 2rem;
}
.p-article h5 {
  margin-bottom: 30px;
  font-size: 2rem;
}
.p-article h6 {
  margin-bottom: 30px;
  font-size: 2rem;
}
.p-article p {
  margin-bottom: 30px;
}
.p-article img {
  margin-bottom: 30px;
}
.p-article figure {
  margin-bottom: 30px;
}
.p-article figure img {
  margin-bottom: 0;
}
.p-article ol {
  margin-bottom: 30px;
}
.p-article ol ol {
  margin: 17px 18px;
}
.p-article ul {
  margin-bottom: 30px;
  list-style: none;
}
.p-article ul ul {
  margin: 17px 18px;
}
.p-article li {
  list-style-position: inside;
}
@media (min-width: 768px) {
  .p-article ol,
  .p-article ul {
    margin-left: 50px;
  }
}
.p-article blockquote {
  margin-bottom: 30px;
  padding: 30px 20px;
  border: none;
  background-color: #F5F5F5;
}
@media (min-width: 768px) {
  .p-article blockquote {
    padding: 50px 50px 60px;
  }
}
.p-article cite {
  font-style: normal;
}
.p-article cite > a {
  color: #4A6C9B;  
  text-decoration: underline;
}
.p-article pre {
  margin-bottom: 30px;
  padding: 50px min(15%, 50px);
  background-color: #F5F5F5;
  white-space: pre-wrap;
}
.p-article pre code {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.p-article table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}
.p-article table thead {  
  border: solid 1px #707070;
  background-color: #F2EDE9;
}
.p-article th {
  padding: 24px;
  border: 1px solid #707070;
}
.p-article table td {
  padding: 24px;
  border: 1px solid #707070;
}

.p-article .wp-block-media-text__media img{
  margin-bottom: 30px;
}
.p-article .wp-block-button__link {
  margin-bottom: 30px;
  padding: 28px 138px;
  border: 1px solid #707070;
  border-radius: 20px;
  background: linear-gradient(to left bottom, #F2EDE9, #DED8D3);
  color:#3C2A10;
  font-weight: 700;
}
@media (min-width: 768px) {
  .wp-block-button__link {
    padding: 42px 190px;
  }
}

/* --- recommended --- */
.p-recommended {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .p-recommended {
    margin-top: 120px;
  }
}
.p-recommended section + div {
  margin: 34px 0 0;
}
@media (min-width: 768px) {
  .p-recommended section + div {
    margin-top: 120px;
  }
}
.p-recommended h2 {
  margin-bottom: 0;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .p-recommended h2 {
    font-size: 3.6rem;
  }
}
.p-recommended h2::before {
  content: "";
  margin-right: 4px;
  width: 22px;
  aspect-ratio: 2.2/2;
  display: inline-block;
  background: url(../images/star.png) center/cover no-repeat;
}
@media (min-width: 768px) {
  .p-recommended h2::before {
    margin-right: 8px;
    width: 37px;
  }
}
.p-recommended section > a {
  margin-top: 16px;
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .p-recommended section > a {
    margin-top: 24px;
  }
}
.p-recommended section > p {
  margin-top: 16px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-recommended section > a {
    margin-top: 24px;
  }
}
.p-recommended ul {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .p-recommended ul {
    margin-top: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .p-recommended ul {
    -moz-column-gap: 2.7%;
         column-gap: 2.7%;
    row-gap: 37.5px;
  }
}
@media (min-width: 768px) {
  .p-recommended ul li {
    width: calc(calc(100% - 60px)/2);
  }
}
@media (min-width: 1200px) {
  .p-recommended ul li {
    width: 31.5333333333%;
  }
}
.p-recommended .p-card {
  height: 100%;
  background-color: #F9F0E2;
  flex-direction: column;
}
.p-recommended .p-card__img {
  width: 100%;
  aspect-ratio: unset;
}
.p-recommended .p-card__img img {
  margin: 0;
  height: auto;
  aspect-ratio: 33.5/23.3;
}
@media (min-width: 768px) {
  .p-recommended .p-card__img img {
    aspect-ratio: 32.7/22.7;
  }
}
@media (min-width: 1200px) {
  .p-recommended .p-card__img img {
    aspect-ratio: 42.6/29.6;
  }
}
.p-recommended .p-card .p-caption {
  padding: 24.7px 15px 20px;
  width: 100%;
  gap: 24px;
}
@media (min-width: 1200px) {
  .p-recommended .p-card .p-caption {
    padding: 28px 19px 23px;
    gap: 26.8px;
  }
}
.p-recommended .p-card .p-caption__text {
  color: #3C2B1C;
}
.p-recommended .p-card .p-caption__text h3 {
  padding: 0;
  font-size: 3.2rem;
}
@media (min-width: 1200px) {
  .p-recommended .p-card .p-caption__text h3 {
    font-size: 3.6rem;
  }
}
.p-recommended .p-card .p-caption__text p {
  margin: 24px 0 0;
}
.p-recommended .p-card .p-caption a {
  margin-right: 5px;
  text-decoration: underline;
}

/* --- news --- */
.p-news__mv {
  padding: 61px 20px 57px 45px;
  background-image: url(../../../images/single_mv.jpg);
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
@media (min-width: 768px) {
  .p-news__mv {
    padding: 164px 100px 189px 86px;
  }
}
@media (min-width: 1200px) {
  .p-news__mv {
    padding: 169px 100px 176px 86px;
  }
}
.p-news__mv .p-single__title {
  position: relative;
  line-height: 1.2;
}
.p-news__mv ul {
  position: relative;
  font-weight: 700;
}
.p-news__mv--cat {
  font-size: 1.4rem;
  color: #fff;
}
@media (min-width: 1200px) {
  .p-news__mv--cat {
    margin-top: 6px;
  }
}
.p-news__mv--tag {
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 12px;
}
@media (min-width: 768px) {
  .p-news__mv--tag {
    margin-top: 4px;
  }
}
@media (min-width: 1200px) {
  .p-news__mv--tag {
    margin-top: 0;
  }
}
.p-news__mv--tag li {
  padding: 2px 17px;
  border-radius: 11px;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .p-news__mv--tag li {
    padding-inline: 13px;
  }
}
@media (min-width: 768px) {
  .p-news__mv--tag li {
    padding: 3px 16px;
    border-radius: 16.5px;
  }
}

/* --- page --- */
.p-pageTitle__wrapper {
  width: 76%;
  max-width: 1366px;
}
@media (min-width: 768px) {
  .p-pageTitle__wrapper {
    width: 79%;
  }
}
@media (min-width: 1200px) {
  .p-pageTitle__wrapper {
    width: 100%;
  }
}

/* --- 404 page --- */
.p-404__title span{
  font-size: 2rem;
}
.p-404__homeLink {
  color: #4A6C9B;
  text-decoration: underline;
}


/* ============================================================
 object / utility
 ============================================================ */

/* --- search --- */
@media (min-width: 768px) {
  .u-search__title h1 span{
    left: calc(20.5rem + 20px);
  }
}

/* --- news --- */
.u-news .c-wrapper {
  width: 87.2%;
}
@media (min-width: 768px) {
  .u-news .c-wrapper {
    width: 89.3%;
  }
}
@media (min-width: 1200px) {
  .u-news .c-wrapper {
    width: 87%;
  }
}
.u-news .p-card {
  background-color: inherit;
}
.u-news .p-card:not(:first-child) {
  margin-top: 32px;
}
.u-news .p-card__img {
  aspect-ratio: unset;
}
@media (min-width: 768px) {
  .u-news .p-card__img {
    width: 28%;
  }
}
@media (min-width: 1200px) {
  .u-news .p-card__img {
    width: 324px;
  }
}
.u-news .p-card__img img {
  aspect-ratio: 327/227;
  height: auto;
}
@media (min-width: 768px) {
  .u-news .p-card__img img {
    aspect-ratio: 209/145;
  }
}
@media (min-width: 1200px) {
  .u-news .p-card__img img {
    aspect-ratio: 324/225;
  }
}
.u-news .p-caption {
  padding: 18px 0 0;
  gap: 8px;
}
@media (min-width: 768px) {
  .u-news .p-caption {
    padding: 0 0 0 27px;
    gap: 32px;
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .u-news .p-caption {
    padding-left: 39px;
    gap: 16px;
  }
}
.u-news .p-caption__text {
  color: #3C2B1C;
}
@media (min-width: 768px) {
  .u-news .p-caption__text h3 {
    font-size: 3.6rem;
  }
}
.u-news .p-caption__text p {
  margin-top: 16px;
}

/* --- post --- */
@media (min-width: 1200px) {
  .u-post {
    padding-bottom: 152.5px;
  }
}


/* ============================================================
 WordPress
 ============================================================ */

/* --- 投稿ページのページング --- */
.page-split {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .page-split {
    margin-top: 100px;
  }
}
.page-split span {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #707070;
  background-color: #3C2B1C;
  display: inline-block;
  color: #fff;
  line-height: 3.5rem;
  text-align: center;
}
.page-split a:hover {
  background-color: #3C2B1C;
  color: #fff;
}
.page-split a span {
  background-color: inherit;
  color: inherit;
}

/* --- 推奨スタイル --- */
.sticky {
  border: 2px solid #F5F5F5;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption,
.gallery-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone,
.gallery-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft,
.gallery-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright,
.gallery-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img,
.gallery-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text,
.gallery-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*# sourceMappingURL=style.css.map */